$primary: #006bde;
$darkprimary:  #003bcf;
$secondary: #fcb500;;
$darksecondary: #e4a300;
$white: #FFFFFF;
$background:#f4f1ec;
$black: #000000;
$muted: #b3b3b3;
$error:#ff3333;

@mixin boxShadow() {
  box-shadow: 4px 4px #006bde;
}