@use "colorway";
@use "layouts";

#main-header {
  @include layouts.flex-column-center();
  height: 400px;
  width: 100%;
  color: colorway.$white;
  background-color: colorway.$secondary;
  background-image: url("../images/back-pattern.png");

  #name {
    font-size: 1.75em;
  }
}

