@use "colorway";

#main-header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: colorway.$white;
  background-color: colorway.$secondary;
  background-image: url("../images/3px-tile.png");

  h2 {
    margin: 0;
  }
}

