@use "colorway";
@use "fonts";
@use "layouts";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: colorway.$black;
  background-color: colorway.$background;
  font-size: 24px;
  font-family: fonts.$primary;
  @include layouts.flex-column-center();
}

.container {
  width: 90%;
}

.hidden {
  display: none;
}

.up-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: colorway.$secondary;
  box-shadow: none;
  border: 0;
  cursor: pointer;
  transition: background-color 0.1s ;

  &:hover {
    background-color: colorway.$darksecondary;
  }

  i {
    font-size: 2em;
    color:white;
  }
}

