@use "colorway";

#new-tweet {
  display: none;

  footer {
    font-family: "Bungee", cursive;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    button {
      cursor: pointer;
      color: white;
      background-color: colorway.$primary;
      border: none;
    }
  }

}

#compose-form {
  display: flex;
  flex-direction: column;

  label {
    font-style: italic;
  }
}

#tweet-text {
  margin-top: 0.5em;
  height: 2em;
  background-color: inherit;
  border-color:  colorway.$black;
  border-width: 0 0 1px 0 ;
  outline: none;
  resize: none;
}

.invalid {
  color: colorway.$error;
}

.error-wrapper {
  padding: 0 0.5em;
  height: 2em;
  margin-top: 1em;
  border: 3px solid colorway.$error;
  width: 100%;
}

.error-message {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

