@use "colorway";

.tweet {
  border: 3px solid colorway.$black;
  margin: 1em 0;
  padding: 1em;
  box-shadow: none;
  transition: box-shadow 0.4s;

  &:hover {
    @include colorway.boxShadow();
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    img {
      height: 2.5em;
      margin-right: 0.75em;
    }

    + div {
      font-weight: 600;
      padding: 1.5em;
      word-wrap: break-word;
    }

    div {
      &:last-of-type {
        margin-left: auto;
        color: colorway.$muted;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid colorway.$black;
    padding: 0.5em;
    font-size: 16px;

    i {
      font-size: 1.25em;
      cursor: pointer;
      padding: 0.25em;
      color: colorway.$primary;
      transition: color 0.2s;

      &:hover {
        color: colorway.$secondary;
      }
    }

    div  {
      &:first-of-type {
        font-weight: 600;
      }
    }
  }
}

