#main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color: #ffbb46;
  background-image: url("../images/3px-tile.png");
}
#main-header h2 {
  margin: 0;
}
