#main-header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #549400;
  background-image: url("../images/3px-tile.png");
}
#main-header h2 {
  margin: 0;
}
