nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  color: white;
  background-color: orange;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#offset-nav {
  height: 120px;
}

#main-logo {
  font-family: "Bungee", cursive;
  font-size: 35px;
}

.compose {
  cursor: pointer;
  text-align: center;
}
.compose i {
  padding: 0.25em;
}

.up-down-animation {
  animation: upAndDown 0.6s linear infinite alternate;
}

@keyframes upAndDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(10%);
  }
}
