#new-tweet {
  display: none;
}
#new-tweet footer {
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
#new-tweet footer button {
  cursor: pointer;
  color: white;
  background-color: #549400;
  border: none;
  transition: background-color 0.2s;
}
#new-tweet footer button:hover {
  background-color: #477e00;
}

#compose-form {
  display: flex;
  flex-direction: column;
}
#compose-form label {
  font-style: italic;
}

#tweet-text {
  margin-top: 0.5em;
  height: 2em;
  background-color: inherit;
  border-color: #000000;
  border-width: 0 0 3px 0;
  outline: none;
  resize: none;
}

.invalid {
  color: #ff3333;
}

.error-wrapper {
  padding: 0 0.5em;
  height: 2em;
  margin-top: 1em;
  border: 3px solid #ff3333;
  width: 100%;
}

.error-message {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
