.tweet {
  border: 3px solid black;
  margin: 1em 0;
  padding: 1em;
  box-shadow: none;
  transition: box-shadow 0.4s;
}
.tweet:hover {
  box-shadow: 4px 4px #000cf575;
}
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.tweet header img {
  height: 2.5em;
  margin-right: 0.75em;
}
.tweet header + div {
  font-weight: 600;
  padding: 1.5em;
  word-wrap: break-word;
}
.tweet header div:last-of-type {
  margin-left: auto;
  color: #c0c0c0;
}
.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid black;
  padding: 0.5em;
  font-size: 16px;
}
.tweet footer i {
  font-size: 1.25em;
  cursor: pointer;
  padding: 0.25em;
  color: #000cf5;
  transition: color 0.2s;
}
.tweet footer i:hover {
  color: #549400;
}
.tweet footer div:first-of-type {
  font-weight: 600;
}
